    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Flaskapp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Articles">Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
  <ul class="nav navbar-nav navbar-right">
    {% if session.logged_in%}
      <a class="nav-link" href="/logout">Logout</a>
      <a class="nav-link" href="/dashboard">Dashboard</a>
    {% else %}
      <a class="nav-link" href="/register">Register</a>
      <a class="nav-link" href="/login">Login</a>
    {% endif %}
  </ul>

  </div>
</nav>