{% extends 'layout.html' %}

{% block body %}
  <h1>Articles</h1>
  <ul class="list-group">
  {% for article in articles %}
    <li class="list-group-item"><a href="articles/{{article.id}}">{{article.title}}</li>
  
  {% endfor%}
</ul>
{% endblock %}

