<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  {% include 'includes/__navbar.html' %}
  <div class = "container">
   {% include 'includes/_messages.html' %}
   {% block body %} {% endblock %}  
  </div>

  <script scr="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>  </script>
</body>
</html>
